@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.pagination {
  justify-content: center;
}

.page-link{
  color: var(--chakra-colors-blue-500);
}

.page-item.active .page-link{
  background-color: var(--chakra-colors-blue-500);
  border-color: var(--chakra-colors-blue-500);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 24px;
}